<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Movie</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #000;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        h1 {
            font-size: 28px;
            color: #fff;
            margin-bottom: 20px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            margin-bottom: 30px;
            border-bottom: 2px solid transparent;
            transition: border-color 0.3s;
        }

        a:hover {
            border-color: #444;
        }

        .movieDetailsContainer {
            display: flex;
            align-items: flex-start;
            background: #111;
            border-radius: 10px;
            padding: 20px;
            width: 80%;
            max-width: 900px;
            box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
            margin-bottom: 20px;
        }

        .posterContainer img {
            width: 250px;
            height: 375px;
            border-radius: 5px;
            object-fit: cover;
            margin-right: 20px;
            box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
        }

        .detailsTextContainer {
            flex: 1;
            color: #ddd;
        }

        .detailsTextContainer h2 {
            font-size: 24px;
            margin: 0;
            margin-bottom: 10px;
        }

        .detailsTextContainer p {
            margin: 5px 0;
            line-height: 1.6;
            color: #aaa;
        }

        .detailsTextContainer p:last-child {
            color: #888;
        }

        /* Form Styles */
        .formContainer {
            background: #222;
            border-radius: 10px;
            padding: 20px;
            width: 80%;
            max-width: 900px;
            margin-top: 20px;
            box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
        }

        .formContainer label {
            font-size: 16px;
            margin-bottom: 8px;
            display: block;
            color: #ddd;
        }

        .formContainer input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            background: #333;
            border: 1px solid #444;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
        }

        .formContainer input:focus {
            border-color: #666;
            outline: none;
        }

        .formContainer button.submit-btn {
            width: 100%;
            padding: 10px;
            background-color: #000000;
            color: #fff;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .formContainer button.submit-btn:hover {
            background-color: #545454;
        }

        .formContainer input[type="text"]:focus {
            background-color: #444;
        }
    </style>
</head>

<body>
    <h1>Update Movie Details</h1>
    <a href="/">Go to Dashboard</a>
    <div class="movieDetailsContainer">
        <div class="posterContainer">
            <img src="https://image.tmdb.org/t/p/original/{{movie.posterPath}}" alt="Movie Poster">
        </div>
        <div class="detailsTextContainer">
            <h2>{{movie.title}}</h2>
            <p style="font-size: 0.8em; margin-bottom:5px">{{movie.overview}}</p>
            <p style="font-size: 0.8em; font-weight: bold;">{{movie.releaseDate}} {{movie.genres}} •
                {{movie.runtime}}mins</p>
        </div>
    </div>

    <form action="/update-movie/{{movie._id}}" class="formContainer" method="POST">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" value="{{movie.id}}"><br>

        <label for="movieID">MovieID:</label>
        <input type="text" id="movieID" name="movieID" value="{{movie.movieID}}"><br>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{movie.title}}" /><br>

        <label for="originalTitle">Original Title:</label>
        <input type="text" id="originalTitle" name="originalTitle" value="{{movie.originalTitle}}" /><br>

        <label for="overview">Overview: </label>
        <input type="text" id="overview" name="overview" value="{{movie.overview}}" /><br>

        <label for="ratings">Ratings:</label>
        <input type="text" id="ratings" name="ratings" value="{{movie.ratings}}" /><br>

        <label for="backdropPath">Backdrop Path:</label>
        <input type="text" id="backdropPath" name="backdropPath" value="{{movie.backdropPath}}" /><br>

        <label for="genreIds">Genre ID: </label>
        <input type="text" id="genreIds" name="genreIds" value="{{movie.genreIds}}" /><br>

        <label for="genres">Genres:</label>
        <input type="text" id="genres" name="genres" value="{{movie.genres}}" /><br>

        <label for="budget">Budget:</label>
        <input type="text" id="budget" name="budget" value="{{movie.budget}}" /><br>

        <label for="popularity">Popularity:</label>
        <input type="text" id="popularity" name="popularity" value="{{movie.popularity}}" /><br>

        <label for="posterPath">Poster Path:</label>
        <input type="text" id="posterPath" name="posterPath" value="{{movie.posterPath}}" /><br>

        <label for="productionCompanies">Production Companies:</label>
        <input type="text" id="productionCompanies" name="productionCompanies"
            value="{{movie.productionCompanies}}" /><br>

        <label for="releaseDate">Release Date: </label>
        <input type="text" id="releaseDate" name="releaseDate" value="{{movie.releaseDate}}" /><br>

        <label for="revenue">Revenue:</label>
        <input type="text" id="revenue" name="revenue" value="{{movie.revenue}}" /><br>

        <label for="runtime">Runtime:</label>
        <input type="text" id="runtime" name="runtime" value="{{movie.runtime}}" /><br>

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="{{movie.status}}" /><br>

        <label for="watchProviders">Watch Providers: </label>
        <input type="text" id="watchProviders" name="watchProviders" value="{{movie.watchProviders}}" /><br>

        <label for="logos">Movie Logo:</label>
        <input type="text" id="logos" name="logos" value="{{movie.logos}}" /><br>

        <label for="downloadLink">Download Link:</label>
        <input type="text" id="downloadLink" name="downloadLink" value="{{movie.downloadLink}}" /><br>

        <button class="submit-btn" type="submit">Update</button>
    </form>

    {{#if successMessage}}
    <p style="color: rgb(255, 255, 255);">{{successMessage}}</p>
    {{/if}}

</body>

</html>